/* lato font */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

.font-lato {
  font-family: "Lato", sans-serif;
}

a.active{
  border-bottom: 1px solid #4a5565;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  font-weight: bold;
}